<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="derongan.upper" >

    <application android:label="@string/app_name" android:theme="@style/AppTheme" android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".UpperWidgetConfigure"
            android:label="@string/title_activity_upper_widget_configure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".UpperAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="derongan.upper.UpperAppWidgetProvider.INCREMENT_COUNT"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/upper_appwidget_info" />
        </receiver>
    </application>

</manifest>
